.bg-dark {
    background-color: #000000 !important; 
  }



/* Logo de la pagina en la barra de navegacion */
.logo{
 width: 45%;
 }

 

/* Contenedor texto bienvenida */
.texto{
width: 90%;
display: flex;
align-items: center;
margin: 0 auto;
}

.text-center{
    margin: 2em;
    text-align: justify !important;
}



  /* Cambiar el color de menu hambuerguesa pero no funciona */
.navbar-toggler-icon{
background-color: rgb(255, 255, 255);
padding: 0.5em;
border-radius: 0.3em;
}

.text-start{
margin: 2em;
text-align: justify !important;
}

.conteinerfotos img{
width: 100%;
padding: 0.5em;
}

.conteinerfotos {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 3em;
  }


  .conteinernews{
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }


  /* Estilos para los links */
a:hover { color: red !important;}
a:visited { color: rgb(255, 228, 27) !important;}
a:active {color: rgb(45, 9, 247) !important;}


.conteinerropa{
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 5em;
}

.conteinerhistoria{
  width: 85%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 5em;
}

.contenedorgaleria{
width: 100%;

margin: 0 auto;
margin-top: 3em;
margin-bottom: 3em;
}

  /* Para pantallas medianas */
@media (min-width: 576px) and (max-width: 767px) {
  
    .conteinerfotos {
        width: 90%;
      
      }

      .contenedorgaleria{
        width: 80%;
     
        }
  }
  

    /* Para pantallas medianas a grandes (tabletas, md) */
@media (min-width: 768px) and (max-width: 991px) {

        .conteinerfotos {
            width: 90%;
          
          }

          .contenedorgaleria{
            width: 80%;
         
            }
        
    }
  


    /* Para grandes */
    @media (min-width:991px) {
        .logo{
      width: unset;
        }
    
    
        .text-start{
            margin-left: 3em;
            margin-top: 3em;
            width: 40%;
        }
        
            .conteinerfotos {
                width: 90%;
              
              }

              .contenedorgaleria{
           width: 70%;
           float: left;
                }
            
        }
    
