.bg-dark {
  background-color: #000000 !important; 
}

/* Logo de la pagina en la barra de navegacion */
.logo{
width: 45%;
}

/* Contenedor texto bienvenida */
.texto{
width: 90%;
display: flex;
align-items: center;
margin: 0 auto;
}


.text-center{
  margin: 0em;
  margin-top: 1em;
  text-align: justify !important;
}

.text-start{
  margin: 2em;
  text-align: justify !important;
  }
  
.conteineralbums{
  width: 80%;
text-align: center;
margin: 0 auto;
margin-top: 5em;
margin-bottom: 15em;
}

.conteineralbums img{
  width: 70%;
  margin-bottom: 1em;
}

/* Cambiar el color de menu hambuerguesa pero no funciona */
.navbar-toggler-icon{
background-color: rgb(255, 255, 255);
padding: 0.5em;
border-radius: 0.3em;
}


.conteinerfotos img{
width: 100%;
padding: 0.5em;
}

.conteinerfotos {
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 3em;
}

.conteinerconocerlo{
  width: 90%;
  justify-content: center;
text-align: center;
  margin: 0 auto;
  margin-top: 2em;
}

.conteinercolaboraciones{
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em;
}

#modalColaboraciones .modal-body {
  background-color: #000000;
}

#modalColaboraciones .carousel-item p {
  color: #FFFFFF;
}
.conteinerropa{
  width: 90%;
  margin: 0 auto;
  text-align: center; /* Centra el contenido de texto */
}


.conteinernews{
  width: 90%;

  align-items: center;
  margin: 0 auto;
}


/* Estilos para los links */

a:link {color: #ffffff !important;}
a:visited{ color: rgba(255, 255, 255, 0.988) !important; }
a:hover { color: #ba0bff !important;}
a:active{color: rgb(218, 28, 28) !important;}


 .modal-body{
  background-color: rgb(81, 77, 77);
  color: white;
}

form{
  width: 100%;
}

.conteinerform {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* Esto centra verticalmente */
  background-color: black;
  padding: 2em;
  margin: 0 auto;
  margin-top:1em;
  color: white; /* Para que el texto sea visible sobre el fondo negro */
}

.conteinerhistoria{
width: 90%;
display: flex;
align-items: center;
margin: 0 auto;
margin-top: 5em;
}

.videojustinchico{
  width: 100%;
  height: auto;
}


article .rounded.mx-auto.d-block{
width: 90%;
padding: 1em;
background-color: #ffc001;
border: 0.1em solid #000000;
}

.contenedorgaleria{
margin: 0 auto;
text-align: center;
background-color: #ffc001;
width: 100%;
padding: 1em;
padding-right: 4em;
margin-top: 4em;
border: 0.1em solid #000000;
border-radius: 0.5em;
}

.welcome-drew {
  padding:1em;
}

.welcome-drew img {
  padding:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.videoentrevista{
  margin-top: 3em;
  width: 100%;
}

.footer{
  color: white;
  margin-bottom: 1em;
  text-align: center;
 padding: 0.5em;
  background-color: black;
 }

@media (max-width: 575px) {
  .welcome-drew img {
    max-width: 60%;
  }
}

/* Para pantallas medianas */
@media (min-width: 576px) and (max-width: 767px) {

  .conteinerfotos {
      width: 90%;
    
    }

    .conteinerform {
      width: 70%;

    }

    
}


  /* Para pantallas medianas a grandes (tabletas, md) */
@media (min-width: 768px) and (max-width: 991px) {

      .conteinerfotos {
          width: 90%;
        
        }

        .videojustinchico{
          width: 80%;
          height: auto;
        }
      
        .conteinerform {
          width: 50%;

        }
  }



  /* Para grandes */
  @media (min-width:991px) {
      .logo{
    width: unset;
      }
  
  
      .text-start{
          margin-left: 3em;
          margin-top: 3em;
          width: 40%;
      }
      
          .conteinerfotos {
              width: 90%;
            
            }

            article .rounded.mx-auto.d-block{
              width: 100%;
            }

            .contenedorgaleria img {
              text-align: center;
              max-width: 80%; /* Ajusta el tamaño según sea necesario */
              height: auto; /* Mantiene la proporción */
              margin: 0 auto;
          }
          
            .conteinerropa{
              text-align:unset;
              width: 100%;
            }
  

            .videojustinchico{
              width: 80%;
              height: auto;
            }


            .conteinerform {
              width: 50%;
  
            }

            .videoentrevista{
              width: 70%;
            }

  
            
            }


